@model Auction.Models.LotModel

<div id="@Model.NumOnPage">
    @using (Ajax.BeginForm("Add", "Bid", new AjaxOptions { UpdateTargetId = Model.NumOnPage.ToString() }

        ))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(x => x.Lot.CurrentPrice)
        @Html.HiddenFor(x => x.Lot.LotID)
        @Html.HiddenFor(x => x.Lot.Category.CategoryName)
        @Html.HiddenFor(x => x.Lot.Category.CategoryId)
        @Html.HiddenFor(x => x.Lot.Description)
        @Html.HiddenFor(x => x.Lot.MinPrice)
        @Html.HiddenFor(x => x.Lot.Name)
        @Html.HiddenFor(x => x.Lot.EndTime)
        @Html.HiddenFor(x => x.NumOnPage)


        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Lot</th>
                                <th>Your Bid</th>
                                <th class="text-center">Start Price</th>
                                <th class="text-center">@Html.DisplayNameFor(x => x.Lot.CurrentPrice)</th>
                                <th> </th>
                                <th>
                                    @Html.ActionLink("Edit", "Edit", "Lots", new { lotId = Model.Lot.LotID }, null).IsRole(User.IsInRole("admin"))
                                </th>
                                <th>
                                    @Html.ActionLink("X", "Remove", "Lots", new
                                {
                                    lotId = Model.Lot.LotID,
                                    url = HttpContext.Current.Request.Url.OriginalString
                                }, null).IsRole(User.IsInRole("admin"))
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        <div class="item">
                                            <img width="75" height="75" src="@Url.Action("GetImage", "Lots", new {lotId = Model.Lot.LotID, num = 0})" />

                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">@Html.ActionLink(Html.DisplayFor(x => x.Lot.Name).ToString(), "Lot", "Lots", new { lotId = Model.Lot.LotID }, null)</h4>
                                            <span>Lot end at: </span><span class="text-success"><strong>@Html.DisplayFor(x => x.Lot.EndTime)</strong></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-sm-1 col-md-1" style="text-align: center">
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.BidAmount,new {@class = "form-control",style="min-width: 100px"})
                                        @Html.ValidationMessageFor(x => x.BidAmount)
                                    </div>

                                </td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>@Html.DisplayFor(x => x.Lot.MinPrice)</strong></td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>@Html.DisplayFor(x => x.Lot.CurrentPrice)</strong></td>
                                <td class="col-sm-1 col-md-1">

                                </td>

                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    }
</div>